/* General Rulesets */
* {
  color: #ffffff;
}

body {
  font-family: Helvetica, sans-serif;
	background: linear-gradient(rgb(165, 67, 99, .9), rgba(165, 67, 99, 0.2)), url("https://images.pexels.com/photos/417451/pexels-photo-417451.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") no-repeat center center fixed;
  background-size: cover;
}

a {
  text-decoration: none;
}

footer {
  width: 100%;
  text-align: center;
  bottom: 0;
  position: static;
}

header {
  padding-top: 1%;
  min-height: 70px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.branding {
  float: left;
}

.branding h1 {
  font-weight: normal;
}

nav {
  float: right;
}

.navbar {
  margin-top: 15%;
}

.navbar li {
  display: inline-block;
  padding: 0 5px;
}

.navbar li a {
  color: rgba(255, 255, 255, 0.8);
  font-weight: normal;
}

.navbar li a:hover, .navbar .current a {
  color: #ffffff;
}
