/* Home Page Rulesets */

#introduction {
  text-align: center;
  margin-top: 8%;
  margin-bottom: 50%;
}

#introduction h1 {
  font-size: 60px;
}

#introduction p {
  margin: 10% 10%;
  font-size: 18px;
  font-weight: lighter;
  line-height: 30px;
}

#introduction a {
  display: block;
  width: 20%;
  padding: 3% 8%;
  margin: 0 auto;
  color: #ffffff;
  background-color: #4c7ef3;
  border-radius: 4px;
}

#introduction a:hover {
  background-color: #26A69A;
}
